# Keys
AuthorizedKeysFile ~/.ssh/authorized_keys
HostKey ~/.ssh/id_rsa

# Authentication
AuthenticationMethods publickey
ChallengeResponseAuthentication no
PasswordAuthentication no
UsePAM no
UsePrivilegeSeparation no

# Keepalive
ClientAliveInterval 120
ClientAliveCountMax 720

# Etc
Banner ~/.ssh/banner.txt
