# Network
Port SSH_PORT

# Keys
AuthorizedKeysFile /app/.ssh/authorized_keys
HostKey /app/.ssh/id_rsa

# Authentication
AuthenticationMethods publickey
ChallengeResponseAuthentication no
PasswordAuthentication no
UsePAM no
UsePrivilegeSeparation no

# Etc
Banner /app/.ssh/banner.txt
